.medium_content {
  width: 100%;
  height: 135px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.medium_topbar {
  width: 100%;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.medium_logo {
  background-color: white;
  width: 35px;
  height: 35px;
}

.medium_category {
  flex-grow: 4;
  margin-left: 1em;
  align-self: flex-end;
  font-size: 15pt;
}

.medium_content_image {
  width: 100px;
  height: 100px;
}

.medium_title {
  background-color: black;
  flex-grow: 1;
  padding-top: 10px;
  padding-left: 20px;
  font-size: 15pt;
  font-weight: 2px;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}

.medium_article_body {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
}
